# Suppress: EC112
root = true

[*]
indent_size = 4
indent_style = space

[*.cs]
trim_trailing_whitespace = true
guidelines = 110

dotnet_naming_rule.private_members_are_camelcase.symbols = private_members
dotnet_naming_rule.private_members_are_camelcase.style = camelcase

dotnet_naming_symbols.private_members.applicable_kinds = method, property, field
dotnet_naming_symbols.private_members.applicable_accessibilities = private

dotnet_naming_style.camelcase.capitalization = camel_case

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1303: Const field names should begin with upper-case letter
dotnet_diagnostic.SA1303.severity = none

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

[*.md]
guidelines = 80